.footer {
  background-color:rgb(57, 189, 57); 
  box-shadow: 10px 5px 5px 10px rgb(167, 147, 105);
  margin-top: 75px;
}


.logofooter{
  border-radius: 50%;
  height: 150px;
  background-color: white;
  margin:3%;
}

.rowss{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blockss{

margin-left: 5%;
}

