

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 25px;
  margin: 50px;

  opacity: 0.9;
}

.chercher {
  background-color: rgb(223, 202, 19);
  border: transparent;
  border-radius: 7%;
  width: 100px;
  opacity: 1;
}
.ingredient {
  color: rgb(209, 123, 114);
}

.spaceCarte{
margin-left:5%;
margin-right: 5%;
margin-bottom: 20%;
}

.butonet{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ADDE{
  background-color: yellow;
  margin: 20px;
}
.asgher{
width: 50%;
 
}
.ajouterr{
  background-color:orange;
  color: white;
  border: wheat;
  margin-bottom:100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 25%;
  width: 500px;
  height: 100px;
  font-size:30px;
  box-shadow: 5px 10px 3px rgb(148, 161, 132);
}