.athensannefa{
    background-image: url('./femme.jpg');

background-repeat: repeat;



}
.greyo{
    background-color: whitesmoke;
    opacity: 0.8;
    width: 350px;
    border-radius: 10%;
    height: 500px;
    margin-bottom: 50px;
  
 
  
}
