#classicformpage .view {
  background-color: rgb(98, 165, 98);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 160vh;
}

.placess {
  width: 700px;
}
#classicformpage h6 {
  line-height: 1.7;
}
.logooo {
  height: 200px;
  border-radius: 50%;
  background-color: beige;
}
.losss {
  font-family: Chalkduster, fantasy;
  font-size: 50px;
}
.inscrip {
  font-family: fantasy;
  color: rgb(98, 165, 98);
  font-size: 60px;
  text-decoration-line: underline;
}
.place {
  margin-left: 30%;
  border-radius: 50%;
}

.form-dark .font-small {
  font-size: 1.8rem;
}

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 1.8rem;
}

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px;
}

.form-dark .md-form label {
  color: #fff;
}

.form-dark input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #00c851;
  -webkit-box-shadow: 0 1px 0 0 #00c851;
  box-shadow: 0 1px 0 0 #00c851;
}

.form-dark input[type="text"]:focus:not([readonly]) + label {
  color: #fff;
}

.form-dark input[type="password"]:focus:not([readonly]) {
  border-bottom: 1px solid #00c851;
  -webkit-box-shadow: 0 1px 0 0 #00c851;
  box-shadow: 0 1px 0 0 #00c851;
}

.form-dark input[type="password"]:focus:not([readonly]) + label {
  color: #fff;
}

.form-white input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 1;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);

  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.titlelabelS {
  font-family: mandarine;
  font-size: 20px;
  color: white !important;
}

/* signout*/

.goodbye {
  font-family: "Playball", cursive;
  color: rgb(231, 231, 142);
  font-size: 40px;
  font-weight: 700;
}

.imgout {
  border-radius: 40%;
  width: 370px;
}
